* {
margin: 0;
padding: 0;
align-items: center;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
  resize: vertical;
}

input[type=submit] {
  text-align: center;
  background-color: #011212;
  color: white;
  padding: 12px 20px;
  border: 8px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #48d1cc, #743ad5);
  cursor: pointer;
}

input[type=submit]:hover {
  background: linear-gradient(#48d1cc, #743ad5);
}

.container {
  margin: 0 auto; 
  border-radius: 5px;
  background-color: rgba(105,105,105, .1);
  align-items: center;
  text-align: center;
  width: 150vh;
  height: 80%; 
}

body {
background-color: #011212;
}

.submit {
	font-size: 50px;
	font-family: 'Bebas Neue';
	border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #48d1cc, #743ad5);
}

.menu ul {
  display: inline-flex;
  margin: 50px;

}

a:link, a:visited {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  background-color: transparent;
  color: white;
  border: 2px solid #48d1cc;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}

.menu ul li {
  font-size: 20px;
  list-style: none;
  margin: 0 20px;
  color: gray;
  cursor: pointer;
  font-family: 'Bebas Neue';
  text-decoration: none;
}

.logo img {
  margin-top: -10px;
  filter: brightness(0) invert(1);
}

.logo img:hover {
	margin-top: -10px;
	filter: none;
}

.title {
  text-align: center;
  padding-top: 5vh;
}

.title > h1 {
font-size: 100px;
font-family: 'Bebas Neue';
color: red;
}

form {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
	
}

.title > h3 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.title > h2 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
	
}
