* {
margin: 0;
padding: 0;
align-items: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid gray; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 15px; /* Add a top margin */
  margin-bottom: 15px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  text-align: center;
  background-color: #011212;
  color: white;
  padding: 12px 20px;
  border: 8px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #48d1cc, #743ad5);
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background: linear-gradient(#48d1cc, #743ad5);
}

/* Add a background color and some padding around the form */
.container {
  margin: 0 auto; 
  border-radius: 5px;
  background-color: rgba(105,105,105, .1);
  align-items: center;
  text-align: center;
  width: 150vh;
  height: 80%; 
}

body {
background-color: #011212;
}

.submit {
	font-size: 50px;
	font-family: 'Bebas Neue';
	border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #48d1cc, #743ad5);
}

.menu ul {
  display: inline-flex;
  margin: 50px;

}

a:link, a:visited {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  background-color: transparent;
  color: white;
  border: 2px solid #48d1cc;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}

.menu ul li {
  font-size: 20px;
  list-style: none;
  margin: 0 20px;
  color: gray;
  cursor: pointer;
  font-family: 'Bebas Neue';
  text-decoration: none;
}

.logo img {
  margin-top: -10px;
  filter: brightness(0) invert(1);
}

.logo img:hover {
	margin-top: -10px;
	filter: none;
}

.title {
  text-align: center;
  padding-top: 5vh;
}

.title > h1 {
font-size: 100px;
font-family: 'Bebas Neue';
color: red;
}

form {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
	
}

.title > h3 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.title > h2 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
	
}
