@charset "utf-8";
@media only screen and (max-width: 480px) {
   
    img.panel {
       width: 100%;
    }
    
    nav.horizontal {
        -webkit-order: 99;
       order: 99;
    }   
 
    body > footer {
        -webkit-order: 100;
       order: 100;
    }  
 }
 
 @media only screen and (min-width: 481px) {      
    img.size1 {width: 100%;}	  
    img.size2 {width: 60%;}
    img.size3 {width: 40%;}
    img.size4 {width: 30%;}   
   
 }